body {
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
  }

#article {
color: aliceblue;

}

h2{

    color: aliceblue;
}

table,
tr,
th,
td {
  border: 1px solid;
}

#container{

  color: aliceblue;
}