body {
  font-family: "Crimson Pro", serif;
  font-size: 20px;
}

#article {
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

table,
tr,
th,
td {
  border: 1px solid;
}

#container {
  color: aliceblue;
}
.but {
  display: flex;
  justify-content: first baseline;
}
.but {
  background-color: gray;
  width: fit-content;
}



table,
td,
th {
  border: 1px solid aliceblue;
}

#myForm {
background-color:grey ;width: 300px;
width: 185 px;
display:flex;
justify-content: left;
margin-left: 40px;
}

#firForm label {
font-style:oblique;
font-size: medium;

}