body {
    background-image:url(https://img4.goodfon.com/wallpaper/nbig/d/73/tosty-khleb-sendvich-kuritsa-miasmo-ovoshchi-zelen-sous-ingr.jpg);
    font-family: 'Crimson Pro', 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  
  nav ul li {
    display: inline-block;
    justify-content: flex-end;
    padding: 6px;
    margin: 5px 15px;
    background-color:#b0d1c2;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;

}
body{

    color: aliceblue;
}

.but{

display: flex;
justify-content:first baseline;

}
.but{

    background-color: gray;
    width: fit-content;
}

#hourOpen{

color: crimson;



}