body {
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
  }

#article {
color: aliceblue;

}

h2{

    color: aliceblue;
}

table,
tr,
th,
td {
  border: 1px solid;
}

#container{

  color: aliceblue;
}
.but{

  display: flex;
  justify-content:first baseline;
  
  }
  .but{
  
      background-color: gray;
      width: fit-content;
  }
  
  h5{

    color: aliceblue;
  }